html{
	padding-bottom:5%;
}

.shop-label{
	border-bottom:2px solid #125688;
    background-color:#EBEBEB;
	margin-top:2%;
}

.shop-item{
	margin-top:2%;
	padding:0px;
}

.shop-image{
	padding-left:5%;
	padding-right:5%;
}

.dadosCliente{
    padding:2%;
    border-bottom:2px solid #125688;
    background-color:#EBEBEB;
    margin-top:2%;
}

.shop-total{
    background-color: #EBEBEB; 
}

.shop-buttons{
    background-color: #EBEBEB; 
    padding-left:10%;
    padding-bottom:2%;
    
}