.carousel-container{	
	width: 60%;
	height: 50%;
	margin: auto;
}

a{
    text-decoration: none;
}
.descricao {
    color: black;
    text-decoration: none;
}

.carousel-caption{
	color: white;
    text-shadow: 0px 0px 5px #000000;
}